{% extends 'base.html.twig' %}

{% block title %}[Checkout] ShopChallenge{% endblock %}

{% block body %}
    <form method="post" action="/checkout" id="payment_form">
        <div class="panel panel-default cart">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4><span class="glyphicon glyphicon-shopping-cart"></span> Carrinho de compras</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        {% for item in items %}
                            <input type="hidden" name="product_id[]" value="{{ item.product.id }}">
                            <div class="row produto-row">
                                <div class="produto">
                                    <div class="col-md-2">
                                        <img class="img-responsive" src="{{ item.product.featuredImage }}" alt="{{ item.product.name }}">
                                    </div>
                                    <div class="col-md-6 infos">
                                        <h4>{{ item.product.name }}</h4>
                                        <p>{{ item.product.description }}</p>
                                        <p>Vendido e entregue por <span class="vendido_entregue_por">{{ item.product.seller.name }}</span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-6">R$ {{ item.product.value|number_format(2, ',', '.') }}</div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input value="{{ item.quantity }}" type="number" name="product_quantity[{{ item.product.id }}]" class="form-control" aria-describedby="basic-addon2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <div id="field_errors">
                        </div>
                        <input type="hidden" name="card_hash" id="card_hash">
                        <div class="form-group">
                            <label for="">Número do cartão:</label>
                            <input class="form-control" type="text" id="card_number"/>
                        </div>
                        <div class="form-group">
                            <label for="">Nome (como escrito no cartão): </label>
                            <input class="form-control" type="text" id="card_holder_name"/>
                        </div>
                        <div class="form-group">
                            <label for="">Mês de expiração: </label>
                            <input class="form-control" type="text" id="card_expiration_month"/>
                        </div>
                        <div class="form-group">
                            <label for="">Ano de expiração:</label>
                            <input class="form-control" type="text" id="card_expiration_year"/>
                        </div>
                        <div class="form-group">
                            <label for="">Código de segurança:</label>
                            <input class="form-control" type="text" id="card_cvv"/>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-9">
                        <h4 class="text-right">Total <strong>R$ 375,00</strong></h4>
                    </div>
                    <div class="col-xs-3">
                        <input type="button" class="btn btn-success btn-block btn-finalizar-compra" value="Finalizar compra"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
